* {
    box-sizing: border-box;
    margin: 0 auto;
}

main {
    max-width: 1100px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding: 1rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex-basis: 45%;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input, label {
    width: 95%;
    margin: 0;
}

.col_left, .col_right {
    flex-basis: 45%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

output {
    margin: 0;
}

.box {
    width: 95%;
    height: 100px;
}